<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="	margin: 0;
	  background: #FEFEFE;
	  color: #585858;"
  >
    <table
      align="center"
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="	font-size: 15px; line-height: 23px; max-width: 500px; min-width: 460px;
	    text-align: center;"
    >
      <tbody>
        <tr>
          <td
            class="section_content_padded"
            style="	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif; vertical-align: top; border: none !important; padding: 0 35px 40px;"
          >
            <h1
              style="	font-size: 20px; font-weight: 500;margin-top: 40px; margin-bottom: 0;"
            >Hey {{name}} !<br />
            Welcome to KT-Guru
              <img
                src="cid:logo-1"
                class="carpool_logo"
                width="100"
                style="	display: block; margin: 0 auto; margin: 30px auto;"
              />
            </h1>
            <p
              class="near_title last"
              style="margin-top: 10px;margin-bottom: 0;"
            >
              Thanks for signing up to Salon_name , greate to have you ! <br />
              Please verify your email address by clicking the link below.</p>
            <a
              href={{{link}}}
              style="	display: block; width: 100%; max-width: 300px; background: #0066A2; border-radius: 8px; color: #fff; font-size: 18px;
	             padding: 12px 0; margin: 30px auto 0; text-decoration: none;"
              target="_blank"
            >Verify email</a>
          </td>
        </tr>
        <tr>
          <td
            style="	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	          vertical-align: top;border: none !important;"
          >
            <p
              class="footer_legal"
              style="	padding: 20px 0 40px; margin: 0; font-size: 12px;
	            color: #A5A5A5; line-height: 1.5;"
            >
              If you did not enter this email address when signing up for
               service, disregard this message.<br />
              <br /><br />
              This is a mandatory service email .
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>